.connection {
    
    margin: 10px 150px;
    margin-right: 20px;
    background-color: #ffffff !important;
    color: black !important;

}
.a-navbar-co{
    color: black !important;
    font-weight: bold !important;
}