/* Base styling */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.App {
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h3 {
  color: #2c3e50;
  font-size: 1.75em;
  margin-bottom: 20px;
}

p {
  font-size: 1em;
  color: #666;
  margin-bottom: 10px;
}

p.what {
  font-style: italic;
}

.cadre {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  background-color: #f0f0f0;
  margin-bottom: 20px;
}

.item-cadre {
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 10px;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
}

p.small {
  font-size: 0.9em;
  color: #999;
  margin-bottom: 10px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1em;

  background-color: #67A288;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  margin-right: 10px;
}

.btn:hover {
  background-color: #f2f2e7;
  color: #333;
}

.mt-4 {
  margin-top: 20px;
}
