/*  fond du Bouton filtre */
.overlay {
    height: 100%;
    width: 100%;
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9); /* Black with a little bit see-through */
  }
  
  .recherche {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
  }
  
  /* bouton filtre */
  .openBtn {
    background-color: #04AA6D;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .centrerbouton{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .openBtn:hover:after {
    transform: translate(0, 0);
  }
  
  .openBtn:active {
    background-color: #33a33769;
    outline: 0;
  }
  
  .openBtn:hover {
    outline: 0;
  }
  
  @media (min-width: 768px) {
    .openBtn{
      padding: 0 40px;
    }
  }
  
  /* The content */
  .overlay{
    overflow-y: auto;
  
  }
  
  .overlay-content {
    position: relative;
    top: 5%;
    width: 100%;
    text-align: start;
    margin-left: 5rem;
    margin-top: 30px;
    
    color:#fff;
  }
  
  /* Close button */
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    cursor: pointer;
    color: white;
  }
  
  .overlay .preferenceCheckbox {
    
    
    margin-left: 5%;
    height: 15px;
    width: 15px;
    background-color: #eee;
  }
  
  
  
  .overlay .closebtn:hover {
    color: #ccc;
  }
  
  /* Style the search field */
  .overlay input[type=text] {
    padding: 10px;
    font-size: 10px;
    border: none;
    margin-left: 5%;
    background: white;
  }
  
  .overlay input[type=text]:hover {
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  .overlay button {
    background-color: #04AA6D;
    align-items: center;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    line-height: 24px;
    max-width: 100%;
    padding: 0 25px;
    position: relative;
    text-align: center;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .overlay button:hover {
    background: #bbb;
  }
  
  @media screen and (max-width: 600px) {
    .overlay {
      overflow-y: auto;
    }
    .overlay-content{
      margin-left: 1rem;
    }
  }